html, body {
	height: 100%;
	margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

#sidr{
    z-index: 500;
}
.modal-dialog-center {
   margin-top: 7%;
}

.logo {
	float: left;
}

.navbar-toggle {
	background-color: #FFF;
	position: fixed;
	right: 5px;
}

.icon-bar {
	background-color: #2980b9;
}

.nav {
	position: fixed;
	right: 5px;
}

#toggleMenu {
	margin: 9px;
}

#map-canvas {
	height: 100%;
	transition: width 0.6s linear;
}

#showModal {

    position: fixed;
    right: 90px;
    bottom: 29px;
    z-index: 1000;

}

#toggleMenu {
	position: fixed;
	right: 10px;
	bottom: 20px;
	z-index: 1000;
}

#header {
	height: 50px;
	position: fixed;
	z-index: 10;
	width: 100%;
}

#filterList > li {
	margin-left: 15px;
}

.leaflet-top {
	top: 70px;
}
