<!doctype html>
<html lang="en">

    <head>

	    <meta charset="UTF-8">
	    <title>RHok The Hood | Making your city that much better.</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/css/foundation.css" />
        <script src="/static/js/modernizr.js"></script>
        <script src="/static/js/pace/pace.js"></script>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
        <link rel="stylesheet" href="static/css/leaflet.label.css" />
        <link rel="stylesheet" href="static/css/L.geosearch.css" />
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <link rel="stylesheet" href="/static/css/jquery.sidr.dark.css" />
        <!--link rel="stylesheet" href="/static/css/pace/pace.css" /--!>
        <link rel="stylesheet" href="/static/css/pace/themes/pace-theme-minimum.css" />
        <meta name="signet:authors" content="Mihir Singh (@citruspi), Michael Nolan (@SxNolan)">
        <meta name="signet:links" content="http://github.com/citruspi/RHokTheHood">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    </head>

    <body>

        <div class="off-canvas-wrap">

            <div class="inner-wrap">

                <nav class="top-bar" data-topbar data-options="is_hover: false">

                    <section class="nav-bar-section">

                        <ul class="title-area">

                            <li class="filter show-for-medium-up"><a href="#" class="left-off-canvas-toggle"><i class="fa fa-bars flyout-icon"></i><span class="filter-label">Filter:</span> Violent Crimes Rate</a></li>

                            <li class="name"><h1 class="site-title">RHoK The Hood</h1></li>

                            <li class="toggle-topbar menu-icon"><a href="#"><span> </span></a></li>
                        </ul>
                    </section>

                    <section class="top-bar-section nav-bar-section">

                        <ul class="right menu-items">

                            <li class="filter show-for-small-only"><a href="#" class="left-off-canvas-toggle"><i class="fa fa-bars flyout-icon"></i><span class="filter-label">Filter:</span> Violent Crimes Rate</a></li>

                            <li class="menu-item"><a id="location"><i class="fa fa-map-marker"></i>&nbsp; Location: Monroe County, NY</a></li>

                            <li class="has-dropdown">
                                <a>More</a>

                                <ul class="dropdown">

                                    <li><a href="#" data-reveal-id="myModal"><i class="fa fa-info-circle"></i> &nbsp;About</a></li>

                                    <li><a href="https://github.com/citruspi/RHokTheHood"><i class="fa fa-code-fork"></i>&nbsp; Get Involved</a></li>

                                    <li><a href="mailto:me@mihirsingh.com"><i class="fa fa-envelope-o"></i>&nbsp; Contact</a></li>


                                </ul>

                            </li>

                        </ul>

                    </section>

                </nav>

                <aside class="left-off-canvas-menu">

                    <ul id="filterList" class="off-canvas-list">

                        <li><label>Filters</label></li>

                    </ul>

                </aside>

                <div id="map-canvas"></div>

                <a class="exit-off-canvas"></a>

            </div>

        </div>

        <div id="myModal" class="reveal-modal medium" data-reveal>
            <h2>RHoK The Hood</h2>
            <p class="lead">A civics hacking project by two students.</p>
            <p>RHoK The Hood began as a project at the 2013 Rochester Random Hacks of Kindness Hackathon. It was an attempt to provide the residents of Rochester City with an easy way to visualize information that we found was frequently requested through the Freedom of Information Law in a concise manner at a block level using the power of Geographic Information Systems.</p>
            <p>Now, we want to do it on a bigger scale - we want to get as much data on as many places and make it accessible to as many people as possible. And we're going to need your help to do it. <a href="https://github.com/citruspi/RHokTheHood">Get involved.</a></p>
            <a class="close-reveal-modal">&#215;</a>
        </div>

    </body>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/foundation.min.js"></script>

    <script>

        $(document).foundation();

    </script>

    <script>

        $(document).on('open', '[data-reveal]', function () {

            document.getElementById("leaflet-control-geosearch-qry").style.visibility = "hidden";

        });

        $(document).on('close', '[data-reveal]', function () {

            document.getElementById("leaflet-control-geosearch-qry").style.visibility = "visible";

        });


    </script>

    <script type="text/javascript" src="static/js/d3.min.js"></script>
    <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
    <script type="text/javascript" src="static/js/leaflet.label.js"></script>
    <script type="text/javascript" src="static/js/L.control.geosearch.js"></script>
    <script type="text/javascript" src="static/js/L.geosearch.provider.esri.js"></script>
    <script type="text/javascript" src="static/js/utilities.js"></script>
    <script type="text/javascript" src="static/js/script.js"></script>
    <script type="text/javascript" src="static/js/signet.min.js"></script>

</html>
