<!doctype html>
<html lang="en">
    
    <head>

	    <meta charset="UTF-8">
	    <title>RHok The Hood | Making your city that much better.</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <link rel="stylesheet" href="/static/css/jquery.sidr.dark.css" />

        <meta name="signet:authors" content="Mihir Singh (@citruspi), Michael Nolan (@Nolski)">
        <meta name="signet:links" content="http://github.com/citruspi/RHokTheHood">

        <style>
        #sidr{
            z-index: 500;
        }
        .modal-dialog-center {
           margin-top: 7%;
        }
        </style>
    
    </head>

    <body>
    	<header id="header" style="background-color: #2980b9; color: #FFF;">
            <div class="navbar-header" style="font-family: 'Open Sans'">
                <h2 class="logo" style="margin-top: 10px; margin-left: 10px;">RHoK the Hood</h2>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><button type="button" id="toggleMenu" onclick="animateMap()" class="btn btn-primary btn-default">Menu</button></li>
                    <li><h3 style="float: right; margin-top: 12px;">Rochester - Violent Crime Rate</h3></li>
                </ul>
            </nav>
        </header>

        <div id="sidr">
            <ul>     
                <li><a href="#">Commercial Land Use</a></li>
                <li><a href="#">Child Poverty Rate</a></li>
                <li><a href="#">Animal Calls Rate</a></li>
                <li><a href="#">School Kids</a></li>
                <li><a href="#">Unemployment</a></li>
                <li><a href="#">Property Crime Rate</a></li>
                <li><a href="#">Violent Crime Rate</a></li>
                <li><a href="#">Population Over 70</a></li>
                <li><a href="#">Estimated Tax Bill</a></li>
            </ul>   
        </div>
    
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="myModalLabel"><center>RHok The Hood</center></h3>
                    </div>
                    <div class="modal-body">
                        <p class="lead">
                            Hey, thanks for checking out RHok The Hood, a project by <a>@citruspi</a> and <a>@Nolski</a>.</p>
                        <p class="lead">
                            We wrote RHok The Hood in an attempt to provide the residents of Monroe Country, New York with an easy way to visualize information that we found was frequently requested through the Freedom of Information Law in a concise manner using the power of Geographic Information Systems. However, we would like to get data for as many locations as possible and map as much of it as we can. The project started at a Random Hacks of Kindness hackathon at the Rochester Institute of Technology.
                        </p>
                        <p class="lead">
                            RHock The Hood is powered by technology such as <a href="">leaflet.js</a> and <a href="">flask</a>. Please feel free to contact us if you have comments, questions, concerns, or data to donate.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <center><button type="button" class="btn btn-primary" data-dismiss="modal">Close</button></center>
                    </div>    
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="map-canvas" class="md-col-10"></div>
	    <div id="side-bar" class="md-col-2"></div>
    </body>
    <script type="text/javascript" src="static/js/d3.min.js"></script>
    <script type="text/javascript" src="static/js/jquery-2.0.3.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
    <script type="text/javascript" src="static/js/shp.min.js"></script>
    <script type="text/javascript" src="static/js/leaflet.shpfile.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/utilities.js"></script>
    <script type="text/javascript" src="static/js/script.js"></script>
    <script type="text/javascript" src="static/js/signet.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.sidr.js"></script>

    
    <script>
        $(document).ready(function() {
            $('#myModal').modal('show');
            $('#toggleMenu').sidr();
        });
</script>
</html>
